/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html{
  font-family: 'Michroma', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.streaming {
    width: 90%;
    margin: 0 auto 20px;
    min-height: 150px;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

#object-div, iframe {
    display: inline-block;
}

#object-div {
    float: left;
}

#members {
    margin-top: 20px;
    white-space: nowrap;
    /* Optional overflow-x:hidden */
}

#members .circle {
    border: 5px solid #8f0000;
    height: 60px;
    width: 60px;
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #000;
}

#members .circle.online {
    border-color: green;
}

#members .member {
    border: 1px solid #222;
    background: #333;
    border-radius: 3px;
    position: relative;
    display: block;
    margin-bottom: 30px;
}

#members .member .member-name {
    padding: 15px 10px 15px 60px;
    font-weight: bold;
}

#members .member .viewers {
    font-style: italic;
    padding: 10px;
    float: right;
}

#members .member .game {
    padding: 10px;
    background: #333;
    text-overflow: ellipsis;
    font-size: 0.9em;
    overflow-x: hidden;
}

#members .member p {
    margin: 0;
    line-height: 1;
}

iframe {
    float: right;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}