/* Custom Stylesheet */

body,
video,
header,
main,
h1,
p {
    margin:0;
    padding:0;
}
/* Set a large height to see parallax effect */
main {
	display: block;
	height: 2000px;
}
/* Prevent video jerky resize on load, reset defaults */
video {
	width: 100%;
	height: 100%;
	display: inline-block;
 	vertical-align: baseline;
}
.video-wrap {
	height: 100%;
	width: 100%;
}

/* Examples */
.content-overlay {
	position: relative;
	z-index: 20;
	padding: 15%;
}
.content-overlay h1,
.content-overlay p {
	color: #fff;
}
.text-overlay-example .video-wrap::before,
.with-header-example .video-wrap::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.0);
	z-index: 10;
}
header {
	height: 100px;
	background-color: #ddd;
}
.outer-wrap {
	height: 800px;
}